body{
    background-image: url("../img/fondo1.png");
}

header{

}

#logo_ipn{
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 20px;
}

#linea_titulo{
    margin: 20px;
    background-color: #80004a;
    height: 30px;
    
}